/* This is the css I tried to use prior of figuring out the padding and the buttons */
/* .color {
    /* background: radial-gradient(white, grey); */
    /* background: white;
}

.main {
    text-align: center;
}

.blue-square-container {
    text-align: center;
  }

.blue-square {
    background-color: rgb(142, 197, 230);
    width: 500px;
    height: 5px;
    display: inline-block;
  }

.dotted {
    border: 10px dotted black; 
    border-style: none none dotted;
    width: 600px; 
    /* color: #fff; 
    background-color: #fff;  */


* 
{
    margin: 0;
    padding: 0;
}

header {
    /* background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(236, 232, 232, 0.5)), url(campus.jpg); */
    background-image: url(campus.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* All the main classes are associated with the 3 navigations buttons */

.main-nav{
    /* float: right; */
    position: fixed;
    right: 10px;
    /* list-style: none; */
    /* margin-top: 40px;   */
    /* moves the three buttons down */

}

 .main-nav li {    
    /* three buttons are no longer inline */
    display: inline-block; 
} 

/* .main-nav li a {     */
    /* three buttons are no longer inline */
    /* display: inline-block; 
} */

.main-nav li a {    
    /* three buttons styling */
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-weight: 800;
    font-size: 20px;
    background-color: orange;
    margin-top: 37px;
} 

.main-nav li.active a {
    border: 2px solid black;
    display: inline-block; 
    
}

.main-nav li a:hover{
    border: 1px solid black;
    background-color: rgb(231, 202, 148);
    transition: all 0.5 ease-in;
}

/* .logo img{ NOOO
    width: 150px;
    height:auto;
    float: left;
} */

body{
    font-family: monospace;
}

.row{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    width: 1200px;
    margin-left: 100px;
    margin-top: 0px;
    /* padding-bottom: 100px 20px; NOOO */
    /* background-color: orange; NOOO */
    /* background-position: center; NOOO*/
}

 h1 { 
    color: black; 
    text-transform: uppercase;
     font-size: 70px;
    text-align: center;
    margin-top: 275px;
    background-color: orange;
    font-family:Comic Sans, Comic Sans MS, cursive;
    border: 2px solid black;
} 

/* The rest of the css had to do with the College Quiz button */

.button{ 
    margin-top: 30px;
    margin-left: 440px;
} 

.btn{ 
    border: 1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    margin-left:60px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: orange;
}

/* .btn-one { NOOO
    background-color: orange;
    font-family: Comic Sans, Comic Sans MS, cursive;
} */

.btn-two{
    /* font-family: Comic Sans, Comic Sans MS, cursive; NOOOO */
    background-color: orange;
    text-decoration: none;
    padding: 5px 20px;
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-weight: 800;
    font-size: 20px;
    border: 2px solid black;
}

.btn-two:hover{
    background-color: rgb(231, 202, 148);
    transition: all 0.5 ease-in;
}

h2{
    color: black;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 400px;
    background-color: orange;

}

/* #fullpage{ NOO
    height: 99.6vh;
    text-align: center;
}
  
#fullpage section:nth-child(1) { NOO
      background: white;
      margin-top: 100px;
}

.style { NOOO
    font-size:30px
} */

/* color: black;    NOOO
    text-decoration: none;
    padding: 5px 20px;
    font-family:Comic Sans, Comic Sans MS, cursive;
    font-weight: 800;
    font-size: 20px;
    background-color: orange; */